/* TWITTER BOOTSTRAP OVERWRITES */
body {
    padding-top: 200px; /* 100px to make the container go all the way to the bottom of the topbar */
    background-color: #eff1f7;
}

.nav-tabs > li, .nav-pills > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}
.navbar-nav > li > a, .navbar-brand {
  padding-top:5px !important; 
  padding-bottom:5px !important;
}
.navbar {
  min-height:100px !important;
  background: #4a90e2 url('../img/logo.png') center no-repeat !important;

}
/* END TWITTER BOOTSTRAP OVERWRITES

/* CUSTOM CSS */

 .upload-box {
  padding: 0px;
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 510px;
  min-height:470px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-topleft:5px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-top-left-radius:5px;
}
#upload h2 {
  margin-top: 40px;
  color:#4a90e2;
}
.upload-box .nav-header {
  background-color: #e0e5ee;
}

.box {border:2px solid #0094ff;}
.box h2 {background:#0094ff;color:white;padding:10px;margin-top:0 !important;}
.box p {color:#333;padding:10px;}
.box {
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
}
.browse-files {
  margin: 0;
  padding: 0;
  display: block;
  overflow: auto;
}
.browse-files li {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-width: 1px;
  font-size: 13px;
  text-align: left;
  line-height: 32px;
  background-color: #e5e5e5;
  margin: 5px 5px;
  padding: 0 10px;
  whitespace: nowrap;
}
.file-column {
  float: left;
  height: 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
  margin: 0 10px;
}
.upload-list {
  margin: 20px 0;
  padding: 0;
  display: block;
  list-style-type: none;
}
#status {
  white-space:nowrap;
}

/* fun with custom file inputs :/ */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* END CUSTOM CSS */